<template>
  <div>
    <h3></h3>
    <table>
      <thead>
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Delivery Address</td>
          <td>Billing Address</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of items" :key="item.index">
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.deliveryAddress}}</td>
          <td>{{item.billingAddress}}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-20">
      <form class="mt-20">
        <input required type="number" v-model="formData.index" placeholder="Index">
        <input required v-model="formData.firstName" placeholder="First name">
        <input required v-model="formData.lastName" placeholder="Last name">
        <input required v-model="formData.deliveryAddress" placeholder="Delivery Address">
        <input required v-model="formData.billingAddress" placeholder="Billing Address">
      </form>
      <div class="mt-20">
        <button v-on:click="add(formData)">Add</button>
        <button v-on:click="edit(formData)">Edit</button>
        <button v-on:click="remove(formData)">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require('axios').default
axios.defaults.headers.common = {
  'Content-Type': 'application/json'
}
export default {
  name: 'MainPage',
  data () {
    return {
      items: [],
      formData: {
        index: '',
        firstName: '',
        lastName: '',
        deliveryAddress: '',
        billingAddress: ''
      }
    }
  },
  methods: {
    add: async function (formData) {
      formData.index = this.items.length
      const resp = await axios.post('http://localhost:3000/items', formData)
      this.items = resp.data
      this.reset()
    },
    edit: async function (formData) {
      const resp = await axios.put('http://localhost:3000/items', formData)
      this.items = resp.data
      this.reset()
    },
    remove: async function (formData) {
      const resp = await axios.delete('http://localhost:3000/items', {data: formData})
      this.items = resp.data
      this.reset()
    },
    reset: function () {
      this.formData = {
        index: '',
        firstName: '',
        lastName: '',
        deliveryAddress: '',
        billingAddress: ''
      }
    }
  },
  mounted () {
    axios
      .get('http://localhost:3000/items')
      .then(resp => (this.items = resp.data))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
table {
  margin: auto;
}
td {
  height: 25px;
}
thead td {
  border-bottom: 1px #333 solid;
}
tbody td {
  border-right: 1px #333 solid;
  margin: 0;
  padding: 0 5px;
}
.mt-20 {
  margin-top: 20px;
}
</style>
